@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-Regular.woff2') format('woff2'),
    url('./fonts/IBMPlexMono-Regular.woff') format('woff');
}
@font-face {
  font-weight: 700;
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-Bold.woff2') format('woff2'),
    url('./fonts/IBMPlexMono-Bold.woff') format('woff');
}
@font-face {
  font-style: italic;
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-Italic.woff2') format('woff2'),
    url('./fonts/IBMPlexMono-Italic.woff') format('woff');
}
@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-BoldItalic.woff2') format('woff2'),
    url('./fonts/IBMPlexMono-BoldItalic.woff') format('woff');
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  font-family: 'IBM Plex Mono';
  line-height: 1.5;
  background: '#efefef';
}

* {
  box-sizing: border-box;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  font-family: 'IBM Plex Mono';
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

/* button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
} */

/* .top-button {
  background: white;
  border: none;
  border: solid 1px black;
  height: 24px;
  line-height: 24px;
  margin-top: -8px;
  padding: 0 10px;
  font-size: 13px;
}

.top-button.disabled {
  background: #ddd;
  cursor: not-allowed;
} */

.hoverinner:hover .hoverinner-target {
  text-decoration: underline;
}
.selected .hoverinner:hover .hoverinner-target {
  text-decoration: none;
}
.disabled .hoverinner:hover .hoverinner-target {
  text-decoration: none;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

a {
  color: black;
}

.highlight {
  box-shadow: 1px 1px 1px #999, -1px 1px 1px #999, -1px -1px 1px #999,
    1px -1px 1px #999;
}

.unbutton {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-decoration: underline;
  cursor: pointer;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
.unbutton::-moz-focus-inner {
  border: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.img_holder {
  height: 161px;
}

.strat_image {
  display: block;
  max-height: 128px;
  float: left;
}

.button2 {
  border: 1px solid #1a1a1a;
  background: #666666;

  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    to(#cccccc)
  );
  background: -webkit-linear-gradient(top, #ffffff, #bbb);
  background: -moz-linear-gradient(top, #ffffff, #888888);
  background: -ms-linear-gradient(top, #ffffff, #888888);
  background: -o-linear-gradient(top, #ffffff, #888888);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #888888 100%);

  padding: 2px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-shadow: #cccccc 0 1px 0;
  color: #000000;
  font-size: 15px;
  font-family: sans-serif;
  font-family: 'IBM Plex Mono';
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  min-width: 60px;
}

.button2:active {
  background: -webkit-linear-gradient(top, #bbb, #bbb);
}

.button2:disabled {
  opacity: 0.6;
  border: 1px solid #aaa;
}

.button-hover:hover {
  background: #ddd !important;
}

.closebutton {
  position: relative;
  top: -1px;
  padding: 4px 12px 0 0;
  text-decoration: none;
  height: 27px;
  width: 40px;
  text-align: right;
}
.closebutton:hover {
  text-decoration: underline;
}

.h-border {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: black;
}

.hb {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: black;
}

.v-border {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: black;
}

.newbutton {
  border: solid 1px black;
  background: red;
  padding: 0 8px;
  border-radius: 3px;
  text-decoration: none;
  background: -webkit-linear-gradient(top, #ffffff, #bbb);
  background: -moz-linear-gradient(top, #ffffff, #888888);
  background: -ms-linear-gradient(top, #ffffff, #888888);
  background: -o-linear-gradient(top, #ffffff, #888888);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #888888 100%);
}

.fade {
  transition: background 0.25s linear;
}

.newbutton:disabled {
  opacity: 0.6;
  border: 1px solid #aaa;
}

.modal-content p {
  margin: 0;
  margin-bottom: 10.5px;
}

.modal-content p:last-child {
  margin-bottom: 0;
}
